<header>
  <nav class="navbar navbar-expand-lg bg-body">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarHeader">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Swagger", grape_swagger_rails_path, class: "nav-link btn btn-link d-inline p-0 pe-3"%>
          </li>
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link btn btn-link d-inline p-0", form: { "data-turbo": "true" } %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>